* {
  padding: 0;
  margin: 0;
}

body, html {
  font: 100%/100% "Lato", Arial, sans-serif;
  color: #FFF;
  min-height: 100%;
  max-height: 100%;
}

body {
  background: rgba(1, 163, 117, 0.8);
}

header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  min-height: 100%;
}

header {
  z-index: 0;
}

section {
  z-index: 1;
}

.flexbox-container {
  display: flex;
  align-items: center;

  .content {
    width: 100%;
    text-align: center;
  }
}

h1 {
  font-size: 7.5vh;
  line-height: 1em;
  color: rgba(0, 0, 0, .1);
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  vertical-align: middle;
  //text-shadow: 1px 1px 0 rgba(0, 0,0,.1);

  .faded, .highlight {
    font-style: normal;
  }
  .faded {
    color: rgba(0, 34, 18, 0.25);
    font-weight: 400;
  }

  .highlight {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 700;
  }
}

h2 {
  font-size: 3.65vh;
  color: rgba(0, 34, 18, 0.45);
  line-height: 1em;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 34, 18, 0.05);
  padding-top: 0.5vh;
  margin-top: 0.5vh;
}

section p {
  width: 80%;
  margin: 30px auto 10px auto;
  font-size: 2.2vh;
  font-weight: 100;
}

footer {
  background: rgba(1, 163, 117, 0.8);
  margin: 0 auto;
  width: 100%;
  position: fixed;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;

  .copy {
    font-size: 1.5vh;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 0.5vh;
    width: 100%;
    display: block;
    font-style: normal;
    font-weight: 100;
    position: relative;
    text-align: center;
  }
}
